*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

.row{
    margin: 0 auto;
}

html {
  font-size: 85%;
}

h2.text-primary{
    color: #08d9d6 !important;
}

h2.text-success{
    color:#ff2e63 !important;
}

.container-fluid{
    background-color: #eaeaea;
}

.parrafo-ini{
    font-size: 1rem;
}

.address{
    font-size: 1.5rem;
    color:white;
    background-color: #ff2e63;
}

footer{
    background-color: #252a34;
    font-size: 1.5rem;
    color:whitesmoke;
}

.icon-redes{
    font-size:1.5rem;
}

.btn-primary {
    background-color: #0a5fbb;
    border-color: #0a5fbb;
}

.header-landing{
    background-color: #ff2e63;
    color: white;
    justify-content: center;
    font-weight: bold;
}

.max-textarea{
    max-height: 140px;
}

.mimenu,
.dropdown-menu {
    background-color: #ff2e63 !important;
}

.dropdown-item:hover,
.nav-link:hover{
    background-color: transparent !important;
    color: #08d9d6 !important;
    /* font-size: 16px; */
    font-weight: bold;
}
